In [2]:
# Import libraries
import pandas as pd
import numpy as np

In [3]:
#Load dataset
df = pd.read_csv('Walmart.csv')

In [4]:
#Display basic info
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [5]:
#Check missing values
df.isna().sum()

Store           0
Date            0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
dtype: int64

In [6]:
#Handling missing values

df= df.ffill()

In [7]:
#Convert Date Column
df["Date"] = pd.to_datetime(df["Date"], format="%d-%m-%Y")


#Feature Engineering
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df["Week"] = df["Date"].dt.isocalendar().week # .week is deprecated, use isocalendar().week ##to isolate just the speciic week column

In [8]:
df.to_csv("Data_cleaning.csv", index=False)

print("Cleaned data saved successfully.")

Cleaned data saved successfully.